@model TreinaWeb.Musicas.Web.ViewModels.Album.AlbumExibicaoViewModel

@Html.ActionLink("Details", "Details", new { id = Model.Id }) |
@if (User.IsInRole("ADMINISTRADOR"))
{
    <a href="@Url.Action("Edit", "Albuns")">Edit | </a>
    <a href="@Url.Action("Edit", "Albuns")">Delete | </a>
}